<?xml version="1.0" encoding="UTF-8"?>
<plugin

   id="MolapSurrogateGen"
   iconfile="icon.png"
   description="Molap Surrogate Key Generator"
   tooltip="Molap Surrogate Key Generator"
   category="Molap"
   classname="com.huawei.unibi.molap.surrogatekeysgenerator.dbbased.MolapSeqGenStepMeta">
		<libraries>
		<library name="molap-core-3.70.0.jar"/>
    	<library name="molap-dataprocessor-3.70.0.jar"/>
		</libraries>
		
</plugin>
