<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="MolapFactReader"
   iconfile="icon.png"
   description="Molap Fact Reader"
   tooltip="Molap Fact Reader"
   category="Molap"
   classname="com.huawei.unibi.molap.factreader.step.MolapFactReaderMeta">
		<libraries>
		<library name="molap-core-3.70.0.jar"/>
    	<library name="molap-dataprocessor-3.70.0.jar"/>
		</libraries>
		
</plugin>
