<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="MolapAutoAggSliceMerger"
   iconfile="icon.png"
   description="Molap Auto Agg Slice Merger"
   tooltip="Molap Auto Agg Slice Merger"
   category="Molap"
   classname="com.huawei.unibi.molap.merger.step.autoaggregate.MolapAutoAggregateSliceMergerMeta">
		<libraries>
		<library name="molap-core-3.70.0.jar"/>
    	<library name="molap-dataprocessor-3.70.0.jar"/>
		</libraries>
		
</plugin>
