#################### Performance Configuration ##################
#File read buffer size used during sorting:MIN=:MAX=
carbon.sort.file.buffer.size=20
#Rowset size exchanged between data load graph steps.:MIN=:MAX=
carbon.graph.rowset.size=100000
#Number of cores to be used.:MIN=:MAX=
carbon.number.of.cores=4
#Number of cores to be used while data loading:MIN=:MAX=
carbon.number.of.cores.while.loading=6
#Carbon Inmemory record size:MIN=:MAX=
carbon.inmemory.record.size=100000
#CARBON sort size.:MIN=:MAX=
carbon.sort.size=500000
#Improves the performance of filter query
carbon.enable.quick.filter=false
#Algorithm for hashmap for hashkey calculation
carbon.enableXXHash=true

#################### System Configuration ##################
#Mandatory. Carbon Store path
carbon.storelocation=hdfs://hacluster/Opt/CarbonStore
#Base directory for Data files
carbon.ddl.base.hdfs.url=hdfs://hacluster/opt/data
#Path where the bad records are stored
carbon.badRecords.location=/opt/Carbon/Spark/badrecords
#To unify the carbon Cube and store path.
carbon.unified.store.path=true
#Mandatory. path to kettle home
carbon.kettle.home=<SPARK_HOME>/lib/carbonplugins

#################### Extra Configuration ##################
######Carbon level write buffers in KB:MIN=:MAX=
#carbon.level.write.bufferinkb=12238
######File write buffer size used during sorting.
#carbon.sort.file.write.buffer.size=10485760
######Minimum no of intermediate files after which sort merged to be started.
#carbon.sort.intermediate.files.limit=20
######Number of threads for intermediate merging.
#carbon.sort.intermedaite.number.of.threads=5
######csv reading buffer size.
#carbon.csv.read.buffersize.byte=1048576
######High Cardinality value
#high.cardinality.value =50000
######Carbon Leaf Node size.Note:  this configuration cannot be change once store is generated
#carbon.leaf.node.size=120000
######CARBON maximum no of threads used for sorting.
#carbon.max.thread.for.sorting=3
######Maximum time allowed for one query to be executed.
#max.query.execution.time=60
######Aggregate table suggestion takes by number load for data sampling.
#carbon.agg.loadCount=2
######Number of partition to read
#carbon.agg.partitionCount=1
######Aggregate table suggestion takes number of fact file per load for data sampling.
#carbon.agg.factCount=2
######Aggregate table suggestion takes number of records per fact for data sampling.
#carbon.agg.recordCount=5
######benefitRatio =total records/no of records in aggregate table.if benefit ratio for aggregate combination is greater than configured value than it is selected for suggestion
#carbon.agg.benefitRatio=10
######Whether to cahe Datastats suggestion
#carbon.agg.datastats.cache=false
######Any query which takes more than configured value in seconds are considered for Aggregate suggestion.
#carbon.agg.query.performance.goal=3
######If this parameter is set to true, Carbon will cache the metadata on Server start up and reduce the first query execution time.NOTE: Curent descriptions not applicable when level cache is enabled.
#carbon.agg.querystats.expiryday=30
######If this parameter is set to true, Carbon will cache the metadata on Server start up and reduce the first query execution time.NOTE: Curent descriptions not applicable when level cache is enabled.
#carbon.is.loadcube.startup=false
######If this parameter is set to true, Carbon will cache the metadata after the successful data loading and reduce the first query execution time.NOTE: Curent descriptions not applicable when level cache is enabled.
#carbon.is.loadcube.dataload=false
######How to times retry to get the lock
#carbon.load.metadata.lock.retries=3
######Interval between the retries to get the lock
#carbon.load.metadata.lock.retry.timeout.sec=5
######Maximum number of leaf nodes written in a single file.:Min=1:Max=1000
#carbon.max.file.size=100
######Sort buffer size:MI=5:MAX=
#carbon.sort.buffer.size=5000
######Timestamp format of input data used for timestamp data type.
#carbon.timestamp.format=yyyy-MM-dd HH:mm:ss
######Cube is completely kept in memory.
#carbon.forced.in.memory.cube=false
######Maintains the complete cube cache in memory while data loading. Useful for increasing data load performance in case of history data loading. Set it to true for data load performance tuning.
#carbon.seqgen.inmemory.lru.cache.enabled=false
######Min max is feature added to enhance query performance. To disable this feature, make it false.
#carbon.enableMinMax=true
######Temporary store location, By default it will take System.getProperty("java.io.tmpdir")
#carbon.tempstore.location=/opt/Carbon/TempStoreLoc


#################### AUDIT LOGGING(Used when it is used without FI) ##################
#carbon.auditlog.file.path=logs/CarbonAudit.log
#carbon.auditlog.max.file.size=10MB
#carbon.auditlog.max.backup.files=10
#carbon.logging.level=INFO
